@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color:black;
}
*{
    margin:0;
    padding:0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display:flex;  
    /*Elements come horizontally*/
    align-items: center;
    list-style-type:none;
    height:65px;
    background-color: black;
    color:white;
}
nav ul li{
    padding:0 20px;
}
.logo img{
    width:130px;
    height:60px;
}
.bottom{
    position:sticky;
    height:100px;
    background-color: black;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
    /* So that the play icons come under the bar */
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
.container{
    min-height:72vh ;
    color: black;
    /* Vh is 75% of height */
    font-family: 'Varela Round',sans-serif;
    display:flex;
    margin:23px auto;
    /* Top-bottom 23 and auto to adjust in center*/
    width:70%;
    border-radius: 12px;
    padding:34px;
    background-image:url('wallpaper.jpg');
    box-shadow: 20px 20px 50px beige;
}
#input{
    width:80vw;
    text-align: center;
    /* Wont work because it is not a container whose elemenmts we want to align .
    Hence we use a flexbox to align the bar*/
    cursor:pointer;
}
.item{
    color:black;
    height:50px;
    display:flex;
    background-color: rgb(247, 247, 231);
    width:100%;
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.item:hover{
    background-color: rgb(248, 211, 163);
}
.item img{
    width:70px;
    margin: 0 23px; 
    
}
.timestamp{
    margin:0 23px;
}
.timestamp i{
    cursor:pointer;
}
.songinfo{
    position:absolute;
    left:10vw;
    font-family: 'Varela Round',sans-serif;
    font-size: 25px;
}
